@charset "UTF-8";
@import "compass";
@import "compass/utilities/sprites";
$icons: sprite-map("icons/*.png", $spacing: 8px, $layout: horizontal);
$base-fonts-default: 100px; //基准数
@function rem($px) {
    @if (type-of($px)=="number") {
        @return $px / $base-fonts-default * 1rem;
    }
    @if (type-of($px)=="list") {
        @if (nth($px, 1)==0 and nth($px, 2) !=0) {
            @return 0 nth($px, 2) / $base-fonts-default * 1rem;
        }
        @else if (nth($px, 1)==0 and nth($px, 2)==0) {
            @return 0 0;
        }
        @else if (nth($px, 1) !=0 and nth($px, 2)==0) {
            @return nth($px, 1) / $base-fonts-default * 1rem 0;
        }
        @else {
            @return nth($px, 1) / $base-fonts-default *1rem nth($px, 2) / $base-fonts-default * 1rem;
        }
    }
}
%same-style{
	background-image: sprite-url($icons);
	$bigWidth: ceil(image-width(sprite-path($icons)));
	$bigHeight: ceil(image-height(sprite-path($icons)));
	background-size: rem(($bigWidth, $bigHeight));
	background-repeat: no-repeat;
	display: inline-block;
}
@mixin sprite ($name) {
    width: rem(image-width(sprite-file($icons, $name)));
    height: rem(image-height(sprite-file($icons, $name)));
    background-position: rem(sprite-position($icons, $name));
    @extend %same-style;
}


@for $i from 1 through 2 {
    .icons-#{$i} {
       @include sprite ($i)
    }
}
.other{@extend .icons-1}
